// app/styles/index.scss

html, body {
  // height: 100%;
}

body.landing-page {
  background-image: url("/images/landing-photo.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.page-container.index {
  margin-top: 200px;
  width: 940px;

  .text-wrapper {
    float: left;
  }

  h1 {
    font-size: 40px;
    color: white;
    line-height: 55px;
    font-weight: 500;
    margin-top: 30px;
  }

  p.tagline {
    font-size: 19px;
    color: white;
    line-height: 27px;
    margin-top: 20px;
  }

  p.general {
    background-color: #88ddc0;
    border: 1px solid #85D499;
    color: #37a459;
    margin: 0;
    text-align: center;
    font-size: 15px;
    padding: 9px;
  }

  .login-box {
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.21);
    border-radius: 3px;
    float: right;
    padding: 20px;
    width: 346px;
    text-align: right;
  }

  button {
    margin-top: 10px;
  }
}
