<!-- app/components/chirps-list/chirp-message/template.hbs -->

<img class="avatar" src="/images/avatar.jpg" />
<div class="info">
  {{#link-to 'user'}}
    {{chirp.user.username}}
  {{/link-to}}
  <time>{{chirp.createdAt}}</time>
  <p>{{chirp.text}}</p>
</div>

{{yield}}
