<!-- app/home/template.hbs -->

<div class="page-container home-page">
  <aside class="left">
    {{profile-glance}}
  </aside>

  <main>
    {{status-update}}
    {{chirps-list}}
  </main>
</div>

{{outlet}}
